/*
 *  1 - Definitions
 *  
 *  This part of the (s)css contain every definitions, mixins,
 *  and differents unilities that can be used everywhere in the code.
 *
*/


$large-shadow: 0px 2px 10px rgba(0, 0, 0, 0);
$narrow-shadow: 0px 2px 6px rgba(0, 0, 0, 0);
$inset-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
$inset-shadow-inverted: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
$inset-relief: inset 0px 2px 0px rgba(255, 255, 255, 0.1);

$border-radius: 0px;
$border-size: 1px;

$color-primary: $color-red;
$color-secondary: $color-dark;
$color-link: $color-blue;
$color-selection: $color-blue;
$color-mark: $color-yellow;

@mixin borders() {
  border: $border-size solid rgba(0, 0, 0, 0.3)
}

@mixin border-radius() {
  border-radius: $border-radius $border-radius $border-radius $border-radius;
}

@mixin li-no-margin() {
  li {
    margin: 0;
  }
}

.no-pills {
	list-style:none;
}

.align {
  &-center {text-align: center;}
  &-left {text-align: left;}
  &-right {text-align: right;}
}
