header h1 {
	padding:2.33333em;
	line-height:1em;
	font-size:1em;
  margin:auto;
  text-align:center;
  img {
    max-width: 100%;
    height: auto;
  }
}

header {
  background: #EEE url('../img/background.png');
  margin-bottom:30px;
}

.card-meta {
  @include border-radius();
	box-shadow: $large-shadow, $inset-shadow;
  border: 0;
  background-color:#eeeeec;
  margin-bottom:1.2em;
  @include li-no-margin();
}

.article-content {
  font-size: calc(4mm + 0.4vw);
  line-height: 1.5em;
  padding: 1em;
}
