.card-meta {
  @include border-radius();
	box-shadow: $large-shadow, $inset-shadow;
  border: 0;
  background-color:#eeeeec;
  margin-bottom:1.2em;
  @include li-no-margin();
}

.article-content {
  font-size: calc(4mm + 0.4vw);
  line-height: 1.5em;
  padding: 1em;
  font-weight:300;
  p, em, p em {
    font-weight:300;
  }
}

.comment {
  margin-bottom: 1.333em;
}
