@import 'palette';

/* ------------------ CUSTOM STYLE ------------------- */

$large-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
$narrow-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
$inset-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
$inset-shadow-inverted: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
$inset-relief: inset 0px 2px 0px rgba(255, 255, 255, 0.1);

$border-radius: 3px;
$border-size: 1px;

$color-primary: $color-purple;
$color-secondary: $color-blue;
$color-link: $color-blue;
$color-selection: $color-blue;
$color-mark: $color-yellow;

@mixin borders() {
  border: $border-size solid rgba(0, 0, 0, 0.3)
}

@mixin border-radius() {
  border-radius: $border-radius $border-radius $border-radius $border-radius;
}

body {
  background: #FFF url('../img/background.png');
  padding: 30px;
}

#wrapper {
}

@import 'commons';

@import 'colorize';

@import 'overrides';
