//
//  -- QUARANTE-DOUZE (S)CSS THEME
//
//  Published under GPLv3 by Kazhnuz
//  Theme made for Wordpress for https://quarante-douze.net
//  

@import 'palette';

@import 'definitions';

@import 'typography';

/* ------------------ CUSTOM STYLE ------------------- */

body {
  background: #666 url('../img/background.png');
  padding: 30px;
  background-attachment: fixed;
}

@media (max-width: 767.98px) {
  body {
    background: none;
    padding: 0;
  }
}

#wrapper {
  background-color: #FFF
}

@import 'commons';

@import 'colorize';

@import 'overrides';
